.bloglist-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8a2be2;
  padding: 0 15px;
}
.bloglist-title h2 {
  font-size: 28px;
}
.bloglist-title i {
  font-size: 28px;
  color: black;
}

#bloglist-section {
  margin-top: 25px;
}
.blog-item {
  padding: 10px 15px;
  background: linear-gradient(90deg, #ff1493, #8a2be2); 
  border-radius: 5px;
  cursor: pointer;
}
.blog-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-text .blog-title {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.blog-text .blog-author {
  font-size: 14px;
  color: black;
  font-weight: 300;
  margin-bottom: 25px;
}
.blog-text .blog-publish-time {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  font-weight: 300;
}

.blog-view{
  margin-left: 10px;
}
.blog-view p {
  color: #ffffff;
    margin-bottom: 0;
    padding: 5px;
    background: #8a2be2;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
